matplotlib==3.0.3
numpy==1.16.3
pandas==0.24.0
seaborn==0.9.0
catboost==0.12.2
tensorflow==1.15.0
torchsummary==1.5.1
matplotlib_venn==0.11.5
torch==1.3.1
scipy==1.2.0
tqdm==4.30.0
japanize_matplotlib==1.0.5
lightgbm==2.3.1
Pillow==7.0.0
scikit_learn==0.22.1
