seaborn==0.9.0
torch==1.3.1
category_encoders==2.1.0
matplotlib==3.1.2
lightgbm==2.3.1
tqdm==4.45.0
numpy==1.16.3
japanize_matplotlib==1.0.5
catboost==0.12.2
scipy==1.3.3
tensorflow==2.1.0
pandas==0.24.0
torchsummary==1.5.1
matplotlib_venn==0.11.5
Pillow==7.1.1
scikit_learn==0.22.2.post1
