catboost==0.12.2
numba==0.45.0
numpy==1.16.3
tensorflow==2.1.0
pandas==0.25.0
scipy==1.4.1
lightgbm==2.2.3
seaborn==0.9.0
torch==1.1.0
matplotlib==3.0.3
torchsummary==1.5.1
tqdm==4.30.0
Pillow==7.1.2
apex==0.9.10dev
category_encoders==2.2.2
japanize_matplotlib==1.1.2
matplotlib_venn==0.11.5
scikit_learn==0.22.2.post1
